<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css_Main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/DSN31/static/Css_Main.css">
    <title>AI FASHION CONSULTANT</title>
</head>
<body>
    <h1 class="name">AI FASHION CONSULTANT</h1>
    
    <div class="container">   
        <div class="text" id="text1">ประหยัดทั้งเวลา <br>
            เหมาะสมกับสถานที่</div>
        <div class="text" id="text2">ยกระดับ life-style <br>
            ของคุณ</div>
    </div>
    <a href="{{ url_for('setting') }}" id="button">Start</a>
</body>
</html>